:host {
    --color-texto: #000;
    --color-fondo-card: #fff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.col-3 {
    padding: 10px;
}

.music-card {
    background-color: var(--color-fondo-card);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px red;
}

.music-card img {
    width: 100%; 
    height: 150px; 
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

h3 {
    margin-bottom: 5px;
}
