<div class="row">
    <div class="col-6">
        <img src="/img/musica pop.jpg" alt="">
        Michael Jackson
    </div>
    <div class="col-6">
        <img src="" alt="">
    </div>
</div>

<h2>MUSICA DE MICHAEL JACKSON</h2>

<div class="row">
    <div class="col-3">
        <div class="card">
            <h3>Billie Jean</h3>
            <p>Michael Jackson</p>
            <audio controls autoplayof loop src="/musica/6. MICHAEL JACKSON/Michael Jackson - Billie Jean (Official Video).mp4" poster="imagen.jpg"></audio>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h3>Earth Song</h3>
            <p>Michael Jackson</p>
            <audio controls autoplayof loop src="/musica/6. MICHAEL JACKSON/Michael Jackson - Earth Song (Official Video).mp3" poster="imagen.jpg"></audio>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h3>Smooth Criminal</h3>
            <p>Michael Jackson</p>
            <audio controls autoplayof loop src="/musica/6. MICHAEL JACKSON/Michael Jackson - Smooth Criminal (Official Video).mp3" poster="imagen.jpg"></audio>
        </div>
    </div>
    
</div>