<div class="row">
    <div class="col-3 music-card">
        <img src="/img/musica pop.jpg" alt="Pop Music">
        <div class="card-content">
            <h3>Michael Jackson</h3>  <p>Pop</p>
        </div>
    </div>
    <div class="col-3 music-card">
        <img src="/img/musica pop.jpg" alt="Pop Music">
        <div class="card-content">
            <h3>Madonna</h3>  <p>Genre</p>   
        </div>
    </div>
    <div class="col-3 music-card">
        <img src="/img/musica pop.jpg" alt="Pop Music">
        <div class="card-content">
            <h3>Rihanna</h3>  <p>Genre</p>
        </div>
    </div>
    <div class="col-3 music-card">
        <img src="/img/musica pop.jpg" alt="Pop Music">
        <div class="card-content">
            <h3>Adele</h3>  <p>Genre</p>
        </div>
    </div>
</div>