//se elimina linea dos body.component.ts se elina la import
<app-header></app-header>

<div class="boy_margin">

    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;;">
                <img src="/img/pop.jpg" class="card-img-top img-he" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Musica Pop</h5>
                    <button class="botones" (click)="musicaLista()">Ir a escuchar</button>
                </div>
            </div>
        </div>
    
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="/img/musica_popular.jpg" class="card-img-top img-he" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Musica Popular</h5>
                    <!-- <p class="card-text">Jessi Uribe.</p> -->
                    <a href="#" class="btn btn-primary" >Ir a escuchar</a>
                </div>
            </div>
        </div>
    
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="/img/salsa choke.jpg" class="card-img-top img-he" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Musica Salsa choke</h5>
                    <!-- <p class="card-text">Son de ak.</p> -->
                    <a href="#" class="btn btn-primary">Ir a escuchar</a>
                </div>
            </div>
        </div>
    
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="./img/reggarron.jpg" class="card-img-top img-he" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Musica Reggaeton</h5>
                    <!-- <p class="card-text">Don Omar.</p> -->
                    <a href="#" class="btn btn-primary">Ir a escuchar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="boy_margin_top" >
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;;">
                    <img src="/img/vallenato.jpg" class="card-img-top img-he" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Musica Vallenato</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/img/salsa.jpg" class="card-img-top img-he" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Musica Salsa</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/img/reggae.jpg" class="card-img-top img-he" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Musica Reggae</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/img/musica_electronica.png" class="card-img-top img-he" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Musica Electronica</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
